/* Table styles */
.table-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
  }
  
  tbody td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  